@charset "utf-8";
#top_navigation
{
	display:block;
	float:right;
	margin:7px 0 0 0;
	padding:0;
	list-style:none;
	font-size:14px;
	font-weight:bold;
	font-family:Verdana, Geneva, sans-serif;
	border-radius:5px;
}
#top_navigation ul,#top_navigation li
{
	float:left;
	list-style:none;
	margin:0;
	padding:0;
}
#top_navigation li a:link, #top_navigation li a:visited, #top_navigation li a:hover
{
	display:block;
	margin:0;
	padding:15px 20px;
	color:#000;
	background-color:#aaa7a7;
}
#top_navigation ul ul li a:link, #top_navigation ul ul li a:visited
{
	border:none;
}
#top_navigation li.last a
{
	margin-right:0;
}
#top_navigation li a:hover, #top_navigation ul li.active a
{
	color:#FFFFFF;
    background-color:#7b0205;
}
#top_navigation li li a:link, #top_navigation li li a:visited
{
	 width:150px;
	 float:none;
	 margin:0;
	 padding:7px 10px;
	 font-size:12px;
	 font-weight:normal;
}
#top_navigation li ul{z-index:9999; position:absolute; left:-999em; height:auto; width:170px; border-left:1px solid #CCCCCC; border-bottom:1px solid #CCCCCC;}
#top_navigation li ul a
{
	width:140px;
}
#top_navigation li ul ul
{
	margin:-32px 0 0 0;
}
#top_navigation li:hover ul ul
{
	left:-999em;
}
#top_navigation li:hover ul, #top_navigation li li:hover ul
{
	left:auto;
}
#top_navigation li:hover
{
	position:static;
}
#top_navigation li.last a
{
	margin-right:0;
}